h1 {
    text-align: center;
    color:rgb(70, 70, 70)
}

#calculator {
    display: flex;
    flex-direction: column;
    border-style: solid;
    width: 310px;
    padding: 20px;
    margin: auto;
    background-color: rgb(100, 100, 100);
    border-color: rgb(150, 150, 150);
    border-radius: 20px;
}

#display {
    /* height: 100px; */
    border-style: solid;
    border-color: rgb(139, 199, 173);
    border-radius: 10px;
    margin-bottom: 20px;
    flex-shrink: 0;
    text-align: end;
    background-color: rgb(157, 225, 196);
    padding-top: 10px;
}

#secondary-display {
    height: 40px;
    font-size: 30px;
    padding-right: 10px;
}

#primary-display {
    height: 60px;
    font-size: 50px;
    padding-right: 10px;
}


#buttons {
    display: flex;
    gap: 10px;
}

#operators {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#numbers-and-utils {
    flex-grow: 1;
}

#utils {
    display: flex;
    gap: 10px;
}

.number-row {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

#buttons button{
    height: 70px;
    width: 70px;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
}

#clear, #delete, #zero {
    flex-grow: 1;
}