h1 {
    text-align: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    border-style: solid;
    width: 310px;
    padding: 20px;
    margin: auto;
}

#display {
    height: 100px;
    border-style: solid;
    margin-bottom: 20px;
    flex-shrink: 0;
}

#buttons {
    display: flex;
    gap: 10px;
}

#operators {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#numbers {
    flex-grow: 1;
}

#utils {
    display: flex;
    gap: 10px;
}

.number-row {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

#buttons button{
    height: 70px;
    width: 70px;
}

#clear, #delete, #zero {
    flex-grow: 1;
}